# ignore folders
schema/
Ecommerce-Management-DBMS_Project-/
search/
.venv/
.git/
.idea/
node_modules/


# ignore files
*.bat
*.sh    
requirements.txt
*.pyc
*.ipynb_checkpoints
*.ipynb
.gitignore
.env.exp
